.header-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-top: .5rem;
    padding-bottom: .5rem;
    padding-left: 1.5rem;
    padding-right: 1.5rem;
}

.header-right-container button {
    margin-left: 1.5rem;
}

button {
    background-color: transparent;
    border: none;
    height: 40px;
    padding: 4px 4px 0 4px;
}

button:hover {
    border-bottom: 4px black;
    color: gray;
}